<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <th>Title</th>
  <th>Location</th>
  <th>score</th>
    <% @films.each do |film| %>
      <tr>
        <td><%= link_to film.title, film %></td>
        <td><%= if film.location != nil then link_to film.location.name, film.location else 'unknown' end %></td>
        <td><%=  film.rt_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
