<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
  </thead>
  <tbody>
    <% @group_by_type = @characters.group_by {|p| p.character_type.name} %>
    <% @group_by_type.each do |key, value| %>
      <tr>
        <td>
          <%= link_to value[0].character_type do %>
            <h2><%= key.pluralize%>  <img src=<%=image_url("species/#{key.downcase}.png") %> alt=<%=key %>></h2>
          <% end %>
          <ul>
            <% value.each do |character| %>
              <li><%= link_to character.name, character %><hr/></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
