<p id="notice"><%= notice %></p>

<div class="row">
  <div class="column column-50">
    <%= link_to image_tag(image_url("movie_posters/" + @character.film.title.parameterize.underscore + ".jpg"),alt: @character.film.title), @character.film %>
  </div>
  <div class="column">
    <h2><%= @character.name %></h2>
    <p><%=@character.gender %></p>
    <p><%=@character.age %></p>
    <div class="feature-box">
      <h3>Eye Color</h3>
      <p style=<%= "color:" + @character.eye_color + ";"  %>><%=@character.eye_color %></p>
      <h3>Hair Color</h3>
      <p style=<%= "color:" + @character.hair_color + ";"  %>><%=@character.hair_color %></p>
    </div>
    <P>Species: <%= link_to @character.character_type.name, @character.character_type %></P>
  </div>
</div>

<%= link_to 'Back', characters_path %>
