<p id="notice"><%= notice %></p>
<div class="row">
  <div class="column column-70">
    <h1>Top 150 Movies</h1>
  </div>
  <div class="column column-25">
    <div class="row">
      <div class="column">
        <%= form_tag(top_movies_path,method: :get) do %>
          <%= text_field_tag :title %>
        <% end %>
      </div>
      <div class="column">
        <%= submit_tag 'Search' %>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>MAL Score</th>
    </tr>
  </thead>

  <tbody>
    <% @top_movies.each do |top_movie| %>
    <tr>
      <th><%= link_to "#{top_movie.rank}. #{top_movie.title}", top_movie.mal_url,target: :_blank %></th>
    </tr>
      <tr>
        <td>
          <%= image_tag(top_movie.image_url,alt: 'poster',class: 'poster') %>
        </td>
        <td><%= top_movie.mal_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @top_movies %>

<br>
