<p id="notice"><%= notice %></p>

<div class="row">
  <div class="column column-50 column-offset-10">
    <h2><%= @location.name %> <img class="weather_icon" src=<%= image_url("weather/#{@location.climate.downcase}.png" ) %> alt='climate' /> </h2>
    <P>Climate: <%= @location.climate.gsub('TODO','Unknown') %></P>
    <p>Terrain: <%=@location.terrain.gsub('TODO','Unknown') %></p>
    <p>Surface Water: <%=@location.surface_water %></p>
    <p>Featured in: <%= link_to @location.film.title, @location.film %></p>

    <% if @location.film.character_types.size > 0 %>
      <h2>Species</h2>
        <% @location.film.character_types.uniq.each do |species| %>
          <%= link_to image_tag(image_url("species/#{species.name.downcase}.png"),alt: species.name), species %>
          <br/>
        <% end %>
    <% end %>
    <br/>
    <%= link_to 'Back', url_for(:back) %>
  </div>
  <div class="column column-35 location-drop">
    <%= image_tag(image_url("location/#{rand(5)}.jpg"),alt: 'location',class: 'location-image') %>
  </div>
  <% if @location.film.characters.size > 0 %>
  <div class="column">
    <h3>Residents</h3>
    <ul>
      <% @location.film.characters.each do |character| %>
        <li><%= link_to character.name, character %></li>
      <% end %>
    </ul>

  </div>
    <%end %>
</div>
