<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href=<%=image_url('tab.png') %>>
    <title>GhibliWiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render "shared/main_menu" %>
    <%= yield %>
  </body>
</html>
